<div class="container center-align headline">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="container"
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "center-align indigo-text" %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "center-align indigo-text"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i class="grey-text">(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "center-align indigo-text" %>
  </div>


  <div class="field">
    <%= f.label :current_password %> <i class="grey-text">(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "center-align indigo-text" %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: "indigo-text" %>
  </div>
</div>

  <br />

  <div class="actions">
    <br>

    <%= f.submit "Update", id: "round", class: 'btn red darken-4 white-text' %>
    <%= link_to 'Cancel', user_path(current_user), id: "round", class: 'btn red darken-4 white-text' %>

  </div>
<% end %>
<br>
<hr>
<h6 class="indigo-text">Cancel my account</h6>
 <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, id: "round", class: 'btn red darken-4 white-text' %></p>
</div>
</div>
<br>
