
<div class="container">
<h3 class="center-align headline">PARENT SIGN UP</h3>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="input-field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "indigo-text" %>
  </div>

  <div class="input-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "indigo-text" %>
  </div>

  <div class="input-field">
    <%= f.label :password %>
    <% if @validatable %>
    <em class="hide">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "indigo-text" %>
  </div>



  <div class="field">
    <%= f.label :avatar%>
    <%= f.file_field :avatar %>
  </div>

  <hr />

  <div class="actions">
    <%= f.submit "Sign up", id: "round",class: 'btn-small red darken-4 white-text' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
