<div id="backdrop", class="container">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.label :email, class: "indigo-text darken-4" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field">
    <%= f.label :password, class: "indigo-text darken-4" %>
    <% if @validatable %>
    <em class="hide">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation, class: "indigo-text darken-4" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <button class="btn indigo darken-4 waves-effect waves-light white-text" type="submit" name="action">Sign Up
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
