<div id="image">
<div id="backdrop" class="container">
<h2 class="center-align">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.label :name, class: 'white-text' %><br />
    <%= f.text_field :name, autofocus: true, class: 'white-text' %>
  </div>

  <div class="input-field">
    <%= f.label :email, class: 'white-text' %><br />
    <%= f.email_field :email, class: 'white-text' %>
  </div>

  <div class="input-field">
    <%= f.label :password, class: 'white-text' %>
    <% if @validatable %>
    <em class="hide">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'white-text' %>
  </div>



  <div class="field">
    <%= f.label :avatar, class: 'white-text' %>
    <%= f.file_field :avatar, class: 'white-text' %>
  </div>

  <hr />

  <div class="actions">
    <%= f.submit "Sign up",class: 'btn-small indigo darken-4 white-text' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
