.container.headline
  .row
    .col.s12.center
      .col.m4
      %br
      %br
        = image_tag current_user.avatar.url(:medium)
        %h1#bold.headline.center-align #{current_user.name}'s Homepage
  %hr
  %div.center-align
    .row
      .col.s12
        %br
        %br
        %h3.headline Kids Info
        %a= link_to "Add Child", new_child_path, class: "btn red darken-4 white-text"
        %a= link_to 'Add Reward', new_badge_path, class: 'btn red darken-4 white-text'
        %a= link_to 'Add Chore', new_chore_path, class: 'btn red darken-4 white-text'
        %br
        %br
        %hr
      - if current_user.children.any?
        %table
          %thead
            %tr
              %th.center-align Name
              %th.center-align Chore Count
              %th.center-align Actions
          %tbody
            - current_user.children.each do |child|
              %tr
                %td.center-align
                  = link_to child.name, child_path(child)
                %td.center-align
                  = child.chores.count
                %td.center-align
                  %span
                    = link_to 'Edit', edit_child_path(child)
                  %span
                    |
                    = link_to 'Delete', child_path(child), method: 'delete', data: {confirm: '  Really Delete?'}
      - else
        %h3 No Children, Please Add Some
    %br
    %br
    %br