.container.headline
  .row
    .col.s12.center
      .col.m4
      %br
      %br
        = image_tag current_user.avatar.url(:medium)
        %h1#bold.headline.center-align #{current_user.name}'s Homepage
        = link_to 'Edit Your Profile', edit_user_registration_path, id: "round", class: "btn red darken-4 white-text z-depth-4"
  %div.center-align
    .row
      .col.s12
        %br
        %h3.headline Kids Info
        %a= link_to "Add Child", new_child_path, id: "round", class: "btn red darken-4 white-text z-depth-4"
        %a= link_to 'Add Reward', new_badge_path, id: "round", class: 'btn red darken-4 white-text z-depth-4'
        %a= link_to 'Add Chore', new_chore_path, id: "round", class: 'btn red darken-4 white-text z-depth-4'
        %br
        %br
        %br
      - if current_user.children.any?
        %table.s12.m6.offset-m3.highlight.z-depth-3
          %thead
            %tr
              %th.center-align Name
              %th.center-align Chore Count
              %th.center-align Completed
              %th.center-align Rewards
              %th.center-align Actions
          %tbody
            - current_user.children.each do |child|
              %tr
                %td.center-align
                  = link_to child.name, child_path(child)
                %td.center-align
                  = child.chores.count
                %td.center-align
                  -# = child.chores.complete
                %td.center-align
                  = child.badges.count
                %td.center-align
                  %span
                    = link_to 'Edit', edit_child_path(child)
                  %span
                    |
                    = link_to 'Delete', child_path(child), method: 'delete', data: {confirm: '  Really Delete?'}
      - else
        %h3 No Children, Please Add Some
    %br
    %br
    %br
