.container
  %h1.center-align
  .row
    = form_for @badge do |f|
      .input-field.col.s12
        = f.label :title
        = f.text_field :title
      .input-field.col.s12
        = f.label :description
        = f.text_area :description, class: 'materialize-textarea'
      .input-field.col.s12
        = f.label :badge_multiplier
        = f.text_field :badge_multiplier
        
      = f.hidden_field :parent_id, value: current_parent.id

      = f.submit 'Submit', class: 'btn'
