.jumbotron-rewards
.container.center-align.headline
  .row
    .col.s12
      %h1 Rewards
      - if current_user.parent?
        = link_to 'Add Reward', new_badge_path, class: 'btn red darken-4 white-text'
        = link_to 'Profile', user_path(current_user), class: 'btn red darken-4 white-text'
        %br
        %br
        %hr
        .row
          - current_user.children.each do |child|
            - if child.badges.any?
              - child.badges.each do |badge|
                .col.m6
                  .row
                    .col.m6
                      = image_tag badge.avatar.url(:medium), width: '200', height: '200'
                    .col.m6.left-align
                      = badge.title
                      %p Description: #{badge.description}
                      = button_to 'Edit', edit_badge_path(badge), method: 'get', class: 'btn-small red darken-4 white-text'
                      = button_to 'Delete', badge_path(badge), method: 'delete', data: {confirm: 'Really delete this badge?'}, class: 'btn-small red darken-4 white-text'
         
        - if current_user.type == 'Child'
          %br
          %br
          %hr
          .row
            - if current_user.badges.any?
              - current_user.badges.each do |badge|
                .col.m6
                  .row
                    .col.m6
                      = image_tag badge.avatar.url(:medium), width: '200', height: '200'
                    .col.m6.left-align
                      = badge.title
                      %p Description: #{badge.description}
            - else
              %h5 No rewards yet. Do some chores and get rewards!   