.container.center-align.headline
  .row
    .col.s12
      %h1.headline All Rewards
      - if current_user.parent?
        = link_to 'Add Rewards', new_badge_path, class: 'btn red darken-4 white-text'
        = link_to 'Profile', user_path(current_user), class: 'btn red darken-4 white-text'
        %br
        %hr
  .row
    - if !current_user.parent?
      - @badges = current_user.badges
    - if @badges.any?
      - @badges.each do |badge|
        .col.m6
          .row
            .col.m6
            .col.m6.left-align
              = link_to badge.title, badge_path(badge)
              %p Description: #{badge.description}
              %p Badge Rank: #{badge.badge_multiplier}
              - if current_user.parent?
                = button_to 'Edit', edit_badge_path(badge), method: 'get', class: 'btn-small red darken-4 white-text'
                = button_to 'Destroy', badge_path(badge), method: 'delete', data: {confirm: 'Really delete this badge?'}, class: 'btn-small red darken-4 white-text'
    - else
      %h5 There are currently no rewards.
      -# - if current_user.parent?
      -#   = link_to 'Create a new badge', new_badge_path, class: 'btn indigo darken-4 white-text'
