- if current_user.parent?
  .container.center-align
    %hr
    %h1.center-align
    .row
      = form_for @chore do |f|
        .input-field.col.s12
          = f.label :title, class: "indigo-text"
          = f.text_field :title, class: 'materialize-textarea'
        .input-field.col.s12
          = f.label :description, class: "indigo-text"
          = f.text_area :description, class: 'materialize-textarea'
        .input-field.col.s12
          = f.label :xp_value, class: "indigo-text"
          = f.text_field :xp_value, class: 'materialize-textarea'
        .input-field.col.s12
          = f.select(:child_id, options_for_select(@children_options))
          %label Select Child

        %br
        %br
          = link_to 'Cancel', chores_path, class: 'btn indigo darken-4 white-text'
          = f.submit 'Submit Chore', class: 'btn indigo darken-4 white-text'


