- if current_user.parent?
  .container.center-align
    %hr
    %h1.center-align
    .row.headline
      = form_for @chore do |f|
        .input-field.col.s6
          = f.label :title, class: "indigo-text"
          = f.text_field :title, class: 'materialize-textarea'
        .input-field.col.s6
          = f.select(:child_id, options_for_select(@children_options))
          %label Select Child
        .input-field.col.s12
          = f.label :description, class: "indigo-text"
          = f.text_area :description, class: 'materialize-textarea'
        .input-field.col.s12
          = f.label :xp_value, class: "indigo-text"
          = f.text_field :xp_value, class: 'materialize-textarea'
        .field.col.s12
          /= f.label :avatar, class: 'btn red darken-4 white-text'
          = f.file_field :avatar
 
        



          = link_to 'Cancel', user_path(current_user), class: 'btn red darken-4 white-text'
          = f.submit 'Submit Chore', class: 'btn red darken-4 white-text'

