.jumbotron-chores
.container.center-align.headline
  .row
    .col.s12
      %h1 Chores
      - if current_user.parent?
        = link_to 'Add Chore', new_chore_path, id: "round", class: 'btn red darken-4 white-text z-depth-4'
        = link_to 'Profile', user_path(current_user), id: "round", class: 'btn red darken-4 white-text z-depth-4'
        %br
        %br
        %hr
        .row
          - current_user.children.each do |child|
            - if child.chores.any?
              - child.chores.each do |chore|
                - if chore.complete == false
                  .col.m6
                    .row
                      .col.m6
                        = image_tag chore.avatar.url(:medium), width: '200', height: '200'
                      #profile_text.col.m6.left-align
                        = chore.title
                        /%p Description: #{chore.description}
                        %p XP Value: #{chore.xp_value}
                        / %p Mark complete? #{chore.complete}
                        / %p Which child: #{chore.child_id}
                        - if current_user.parent?
                          = button_to 'Edit', edit_chore_path(chore), method: 'get', id: "round", class: 'btn red darken-4 white-text z-depth-4'
                          = button_to 'Delete', chore_path(chore), method: 'delete', data: {confirm: 'Really delete this chore?'}, id: "round", class: 'btn red darken-4 white-text z-depth-4'
                          = link_to 'Mark Complete', complete_chore_path(chore), id: "round", class: 'btn red darken-4 white-text z-depth-4'
                    %br
                    %br
            - else
              /%h5 There are currently no chores.
        .row
          .col.s12
            %h3 Completed Chores
            %hr
            %br
          - current_user.children.each do |child|
            - if child.chores.any?
              - child.chores.each do |chore|
                - if chore.complete == true
                  .col.m6
                    .row
                      .col.m6
                        = image_tag chore.avatar.url(:medium), width: '200', height: '200'
                      #profile_text.col.m6.left-align
                        = chore.title
                        %p XP Value: #{chore.xp_value}
                        - if current_user.parent?
                          = button_to 'Edit', edit_chore_path(chore), method: 'get', id: "round", class: 'btn red darken-4 white-text z-depth-4'
                          = button_to 'Destroy', chore_path(chore), method: 'delete', data: {confirm: 'Really delete this chore?'}, id: "round", class: 'btn red darken-4 white-text z-depth-4'
                          %br
                          %br
      - if current_user.type == 'Child'
        %br
        %br
        %hr
        .row
          - if current_user.chores.any?
            - current_user.chores.each do |chore|
              - if chore.complete == false
                .col.m6
                  .row
                    .col.m6
                      = image_tag chore.avatar.url(:medium), width: '200', height: '200'
                    #profile_text.col.m6.left-align
                      = chore.title
                      /%p Description: #{chore.description}
                      %p XP Value: #{chore.xp_value}
          - else
            %h5 No chores, ask for some more!
        .row
          .col.s12
            %h3 Completed Chores
            %hr
            %br
          - if current_user.chores.any?
            - current_user.chores.each do |chore|
              - if chore.complete == true
                .col.m6
                  .row
                    .col.m6
                      = image_tag chore.avatar.url(:medium), width: '200', height: '200'
                    #profile_text.col.m6.left-align
                      = chore.title
                      %p XP Value: #{chore.xp_value}
          - else
            %h5 No chores completed. Do chores and save the city!
