.container.center-align.headline
  .row
    .col.s12
      %h1 Chores
      - if current_user.parent?
        = link_to 'Add Chore', new_chore_path, class: 'btn red darken-4 white-text'
        = link_to 'Profile', user_path(current_user), class: 'btn red darken-4 white-text'
      %br
      %br
    %hr
  .row
    - if @chores.any?
      - @chores.each do |chore|
        - if chore.complete == false
          .col.m6
            .row
              .col.m6
                = image_tag chore.avatar.url(:medium), width: '200', height: '225'
              .col.m6.left-align
                = link_to chore.title, chore_path(chore)
                /%p Description: #{chore.description}
                %p XP Value: #{chore.xp_value}
                / %p Mark complete? #{chore.complete}
                / %p Which child: #{chore.child_id}
                - if current_user.parent?
                  = button_to 'Edit', edit_chore_path(chore), method: 'get', class: 'btn-small red darken-4 white-text'
                  = button_to 'Delete', chore_path(chore), method: 'delete', data: {confirm: 'Really delete this chore?'}, class: 'btn-small red darken-4 white-text'
                  = button_to 'Mark Complete', complete_chore_path(chore), class: 'btn-small red darken-4 white-text'
    - else
      %h5 There are currently no chores.
  .row
    .col.s12
      %br
      %br
      %br
      %br
      %h3 Completed Chores
      %hr
        - @chores.each do |chore|
          - if chore.complete == true
            .col.m6
              .row
                .col.m6
                  = image_tag chore.avatar.url(:medium), width: '150', height: '150'
                .col.m6.left-align
                  = link_to chore.title, chore_path(chore)
                  %p Description: #{chore.description}
                  %p XP Value: #{chore.xp_value}
                  - if current_user.parent?
                    = button_to 'Edit', edit_chore_path(chore), method: 'get', class: 'btn-small red darken-4 white-text'
                    = button_to 'Destroy', chore_path(chore), method: 'delete', data: {confirm: 'Really delete this chore?'}, class: 'btn-small red darken-4 white-text'
                    %br
                    %br
                    %br
                    %br
        /- else
        /%h5 There are currently no completed chores.
