%nav
  .nav-wrapper
    %ul.left
      %li= link_to "About", about_path
      %li= link_to "FAQ", faq_path
      %li= link_to "Home", root_path
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right
      - if parent_signed_in?
        %li= image_tag(current_parent.avatar.url(:thumb))
        %li= link_to "Your Profile", parent_show_path
        %li= link_to "Chores", chores_path
        %li= link_to "Badges", badges_path
        %li= link_to 'Log Out', destroy_parent_session_path, method: :delete
      - else
        -# %li= link_to "About", about_path
        -# %li= link_to "FAQ", faq_path
        %li= link_to 'Parent Log In', new_parent_session_path
        %li= link_to "Child Sign In", new_child_session_path
        %li= link_to 'Sign Up', new_parent_registration_path
