%nav#nav
  .nav-wrapper
    %ul.left.hide-on-med-and-down.headline
      %li= link_to "About", about_path
      %li= link_to "FAQ", faq_path
      %li= link_to "Home", root_path  
      %a.headline#logo.brand-logo.center Chore Hero
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down.headline
      %li
        - if user_signed_in?
          %li= image_tag(current_user.avatar.url(:thumb), width: '70', height: '63')
          - if current_user.type == 'Parent'
            %li= link_to "Your Profile", user_path(current_user)
            %li= link_to "Charts", charts_path, class: "white-text"
            %li= link_to "Chores", chores_path
            %li= link_to "Rewards", badges_path
            %li= link_to 'Log Out', destroy_user_session_path, method: :delete
            
          - else
            %li= link_to "Your Profile", child_path(current_user)
            %li= link_to "Chores", chores_path
            %li= link_to "Rewards", badges_path
            %li= link_to 'Log Out', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Log In', new_user_session_path
          %li= link_to 'Sign Up', new_user_registration_path
    %ul#mobile-demo.side-nav.indigo.darken-4.left-align.headline
      %li= link_to 'Home', root_path, class: "white-text"
      %li= link_to 'FAQ', faq_path, class: "white-text"
      %li= link_to "About", about_path, class: "white-text"
      -if user_signed_in?
        - if current_user.parent?
          %li= link_to 'Your Profile', user_path(current_user), class: "white-text"
          %li= link_to "Charts", charts_path, class: "white-text"
          %li= link_to 'Chores', chores_path, class: "white-text"
          %li= link_to "Rewards", badges_path, class: "white-text"
          %li= link_to 'Log Out',destroy_user_session_path, method: :delete, class: "white-text"
        - else current_user.type == "Child"
          %li= link_to 'Your Profile', child_path(current_user), class: "white-text"
          %li= link_to 'Chores', chores_path, class: "white-text"
          %li= link_to 'Log Out',destroy_user_session_path, method: :delete, class: "white-text"
      - else
        %li= link_to 'Log In', new_user_session_path, class: "white-text"
        %li= link_to 'Sign Up', new_user_registration_path, class: "white-text"
