%nav
  .nav-wrapper
    = link_to "YOHOL", users_path, { class: ['brand_logo', 'right'] }
    %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
      %i.material-icons menu
      %ul.left.hide-on-med-and-down
        %li
          = link_to "About", about_path
        %li
          = link_to "FAQ", faq_path
        %li
          = link_to "Contact", contact_path
      - if user_signed_in?
        %ul.right.hide-on-med-and-down
          %li
            = link_to 'Sign in', user_session_path, {class: ['hide']}
          %li
            = link_to 'Sign up', new_user_registration_path, {class: ['hide']}
      - else
        %ul.right.hide-on-med-and-down
          %li
            = link_to 'Sign in', user_session_path
          %li
            = link_to 'Sign up', new_user_registration_path
      - if user_signed_in?
        %ul.right.hide-on-med-and-down
          %li
            =link_to "New Goal", new_goal_path(current_user.id)
          %li
            =link_to 'Edit Account Information', edit_user_registration_path(current_user.id)
          %li
            = link_to 'Sign Out', destroy_user_session_path, method: :delete
    - if user_signed_in?
      %ul#nav-mobile.side-nav.hide-on-med-and-up
        %li
          = link_to "New Goal", new_goal_path(current_user.id)
        %li
          = link_to 'Sign Out', destroy_user_session_path, method: :delete
        %li
          = link_to 'Edit Account Information', edit_user_registration_path(current_user.id)
        %li
          = link_to 'Sign in', user_session_path, {class: ['hide']}
        %li
          = link_to 'Sign up', new_user_registration_path, {class: ['hide']}
    - else
      %ul#nav-mobile.side-nav.hide-on-med-and-up
        %li
          = link_to 'Sign in', user_session_path
        %li
          = link_to 'Sign up', new_user_registration_path
        %li
          = link_to "About", about_path
        %li
          = link_to "FAQ", faq_path
        %li
          = link_to "Contact", contact_path
