.container.headline
  .row
    %br
    %br
    %br
    = form_for @child do |f|
      .input-field.col.s12
        = f.label :name, class: "indigo-text"
        = f.text_field :name
      .input-field.col.s12
        = f.label :email, class: "indigo-text"
        = f.text_field :email
      - if params[:action] == 'new'
        .input-field.col.s12
          = f.label :password, class: "indigo-text"
          = f.password_field :password, class: 'materialize-textarea'
          %br
      .input.col.s12
        = f.file_field :avatar
        %br
        %br
      = link_to 'Cancel', user_path(current_user), class: 'btn red darken-4 white-text'
      = f.submit 'Submit', class: 'btn red darken-4 white-text'
      %br
      %br
      %br