- if current_user.type == 'Child'
  .container
    .row
      .col.s12.center
        .col.s4
          = image_tag current_user.avatar.url(:medium)
        .col.m8
          %h3#bold.headline #{current_user.name}'s Homepage
          %h3.headline XP Total: #{current_user.points_total}
    %hr
    .row
    %br
    .row
      .col.s12
        %h3.headline Chores
        .col.s12
          %a= link_to "Go Get Chores in the Mission Log", chores_path, class: "btn indigo darken-4 white-text"
        %hr
        - if current_user.chores.any?
          %table
            %thead
              %tr
                %th Chore
                %th Description
                %th XP Value
                %th Chore Due Date
             
            %tbody
              - current_user.chores.each do |chore|
                %tr
                  %td
                    = chore.title
                  %td
                    = chore.description
                  %td
                    = chore.xp_value
                    
        - else
          %h3 No Chores, Ask for some more
    %hr

  / This is the Parent's view of the Child Showpage, when logged in as a parent
- else
  .container.center-align
    %h3#bold.headline.center-align You are viewing  #{@child.name}'s Homepage
    %br
    %br
    %br
    %br
    .row.headline
      .col.s12
        %a= link_to 'Add Chore', new_chore_path, class: 'btn red darken-4 white-text' 
        %a= link_to 'Add Badge', new_badge_path, class: 'btn red darken-4 white-text'
        %br
        %br
        %br
        %hr
        - if @child.chores.any?
          %table.col.s12
            %thead
              %tr
                %th.center-align Chore
                %th.center-align XP Value
                %th.center-align Action
               
            %tbody
              - @child.chores.each do |chore|
                %tr
                  %td.center-align
                    = chore.title
                  %td.center-align
                    = chore.xp_value
                  %td.center-align
                    %span
                      = link_to 'Edit Chore', edit_chore_path(chore)
                    %span
                      |
                      = link_to 'Delete Chore', chore_path(chore), method: 'delete', data: {confirm: '  Really  Delete?'}
        - else
          %h3 No Chores assigned
    %br
    %br
  

  
  