.container
  .row
    .col.s12.center
      %h1#bold.headline #{current_user.name}'s Homepage
      %h3.headline XP Total: #{current_user.points_total}
  %hr
  %div.center-align
    %a= link_to "Mission Log", chores_path, class: "btn indigo darken-4 white-text"
  .row
    .col.m4
    /= image_tag @actor.photo.url(:medium)
    .col.m8
  %br
  .row
    .col.s12
      %h3.headline Chores
      - if current_user.chores.any?
        %table
          %thead
            %tr
              %th Chore
              %th Description
              %th XP Value
              %th Chore Due Date
             
          %tbody
            - current_user.chores.each do |chore|
              %tr
                %td
                  = chore.title
                %td
                  = chore.description
                %td
                  = chore.xp_value
                  
      - else
        %h3 No Chores, Ask for some more
  %hr
