.jumbotron-profile.center-align
  %br
  = image_tag current_user.avatar.url(:medium)
- if current_user.type == 'Child'
  .container.headline
    .row
      .col.s12.center
        .center-align
          %br
          %h3#bold.headline #{current_user.name}'s Homepage
          %h3.headline XP Total: #{current_user.points_total}
    .row
      .col.s12
        %h3#profile_text.headline.center-align My Chores
        .col.s12.center-align
          /%a= link_to "Go Get Chores in the Mission Log", chores_path, class: "btn red darken-4 white-text"
          %br
        %hr
        - if current_user.chores.any?
          %table
            %thead
              %tr
                %th.center-align.indigo-text Chore
                %th.center-align.indigo-text XP Value
                / %th.center-align Chore Due Date

            %tbody
              - current_user.chores.each do |chore|
                %tr
                  %td.center-align
                    = chore.title
                  %td.center-align
                    = chore.xp_value

        - else
          %h3.center-align No Chores, Ask for some more
        %br
        %hr
        %br

        - if current_user.badges.any?
          %br
          %h4#profile_text.headline.center-align Here are your REWARDS! Good job!
          %br
          %table
            %thead
              %tr
                %th.center-align.indigo-text Rewards
                %th.center-align.indigo-text Description

            %tbody
              - current_user.badges.each do |badge|
                %tr
                  %td.center-align
                    = badge.title
                  %td.center-align
                    = badge.description
        - else
          %h4.headline You don't have any rewards, keep doing your chores!
          %table
            %thead
              %tr
                %th Rewards
                %th Description

            %tbody
              - current_user.badges.each do |badge|
                %tr
                  %td
                    = badge.title
                  %td
                    = badge.description
        %br
        %br
  / This is the Parent's view of the Child Showpage, when logged in as a parent
- if current_user.parent?
  .container.center-align
    %h3#bold.headline.center-align You are viewing  #{@child.name}'s Homepage
    %br
    %br
    %br
    %br
    .row.headline
      .col.s12
        = image_tag @child.avatar.url(:medium)
        %br
        %br
        %br
        %a= link_to 'Edit Child', edit_child_path, id: "round", class: 'btn red darken-4 white-text z-depth-4'
        %a= link_to 'Add Chore', new_chore_path, id: "round", class: 'btn red darken-4 white-text z-depth-4'
        %a= link_to 'Add Reward', new_badge_path, id: "round", class: 'btn red darken-4 white-text z-depth-4'
        %br
        %br
        %br
        %hr
        - if @child.chores.any?
          %table.col.s12
            %thead
              %tr
                %th.center-align Chore
                %th.center-align XP Value
                %th.center-align Action

            %tbody
              - @child.chores.each do |chore|
                %tr
                  %td.center-align
                    = chore.title
                  / %td.center-align
                  /   = chore.description
                  %td.center-align
                    = chore.xp_value
                  %td.center-align
                    %span
                      = link_to 'Edit Chore', edit_chore_path(chore), class: "z-depth-4"
                    %span
                      |
                      = link_to 'Delete Chore', chore_path(chore), method: 'delete', class: "z-depth-4", data: {confirm: '  Really  Delete?'}
                    %span
                      |
                      = link_to 'Mark Complete', complete_chore_path(chore)
        - else
          %h3 No Chores assigned

      %hr    
      %br
      %hr
        - if @child.badges.any?
          %table
            %thead
              %tr
                %th.center-align Rewards
                %th.center-align Action

            %tbody
              - @child.badges.each do |badge|
                %tr
                  %td.center-align
                    = badge.title
                  %td.center-align
                    %span
                      = link_to 'Edit Reward', edit_badge_path(badge), method: 'get'
                    %span
                      |
                      = link_to 'Delete Reward', badge_path(badge), method: 'delete', data: {confirm: '  Really  Delete?'}

        - else
          %h4.headline #{@child.name} doesn't have any rewards.

    %br
    %br
    %br
    %br
    %br
    %br
